Q1) Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

Ans)
SELECT SUBSTRING(first_name,1,3) 
     FROM employees;

Q2) Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

Ans) 
Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh';

Q3). Write an SQL query to print the name of employees having the highest salary in each department.

Ans) 

SELECT DeptID, EmpName, Salary FROM EmpDetails WHERE (DeptID,Salary) IN (SELECT DeptID, MAX(Salary) FROM EmpDetails GROUP BY DeptID)